body {
  font-family: sans-serif;
  margin: 0;
  padding: 100px;
  background: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.contact a {
  color: black;
  text-decoration: none;
  font: bold;
}

