.style-2 {color: slateblue;}

/* Basic & Group Selector */

/* Select all elements */
* {
  font-weight: bold;
  color: darkorange;
}

/* In case of the same selector, the one that comes later has higher priority. */
* {
  color: plum;
}

/* tag selector */
p {
  color: olivedrab;
}

/* class selector */
/* Higher priority than tags */
/* Multiple elements on a page can have the same class */
.blue {
  color: lightblue;
}

/* Can be attached to other selectors (tag, class, etc...) */
/* The more specific the selector, the higher the priority. */
p.blue {
  color: slateblue;
}

.blue.dark {
  color: mediumblue;
}

p.blue.dark {
  color: darkblue;
}

/* id selector */
/* Higher priority than class */
/* id must be unique for each element on the page */
#red {
  color: tomato;
}

/* group selector */
span, .dark, #red {
  text-decoration: underline;
}

/* Combiner & Virtual Class */

/* Descendant Combinator */
.outer li {
  color: olivedrab;
}

/* Child Combinator */
.outer > li {
  color: dodgerblue;
}

.outer > li li {
  text-decoration: underline;
}

/* General Sibling Combinator */
.starter ~ li {
  font-style: italic;
}

/* Adjacent Sibling Combinator */
.starter + li {
  font-weight: bold;
}

/* First, Last element Pseudo-classes */
ol li:first-child,
ol li:last-child {
  color: yellowgreen;
}

/* :not() pseudo-class */
.outer > li:not(:last-child) {
  text-decoration: line-through;
}

ul:not(.outer) li {
  font-weight: bold;
}

/* ~th element pseudo-class */
/* Try #, #n, #n+#, odd, even, etc..  */
ol li:nth-child(3) {
  font-weight: bold;
  color: deeppink;
}

/* :hover pseudo-class */
li:hover {
  font-weight: bold;
  color: blue;
}